.single__course__item {
  padding: 15px;
  /* border: 1px solid #eaeaea; */
  border-radius: 10px;
  transition: transform 0.3s;

}
.courses-card{

  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 0 20px;

}
.single__course__item:hover {
  transform: translateY(-10px);
}
.course__img img {
  border-radius: 10px;
  margin-bottom: 20px;
  /* width: 300px; */
  width: 100%;
}
.course__details {
  padding: 0 15px;
}
.enroll a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  color: #17bf9e;
}
.lesson,
.students,
.rating {
  font-size: 0.9rem;
  color: #0a2b1e;
  font-weight: 500;
}
.lesson i,
.students i,
.rating i {
  font-weight: 400;
}
.course__title {
  line-height: 2rem;
}
.course__top__left h2 {
  font-weight: 600;
}
.course__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}
.course__top__left {
  flex: 1;
}
.course__top__right {
  text-align: right;
}
.courses-section {
  padding: 50px 0;


}

@media (max-width: 992px) {
  .course__top {
    flex-direction: column;
    align-items: flex-start;
  }
  .course__top__right {
    margin-top: 20px;
    text-align: left;
  }
}
@media (max-width: 576px) {
  .courses-card{
    grid-template-columns: repeat(1,1fr);
  
  }
  .single__course__item {
    padding: 10px;
  }
  .course__details {
    padding: 0 10px;
  }
}
